<p id="notice"><%= notice %></p>

<h1>After Hours</h1>


    <% @after_hours.each_with_index do |after_hour,i| %>

<a href="<%=url_for(after_hour) %>">
  <div class="mdc-card demo-card demo-basic-with-text-over-media">
    <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
      <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="animation: wheelHueFilter 10s infinite;background-image: url('<%=image_url("1094650.jpg")  %>');animation-delay: <%=i*2 %>s;">
        <div class="mdc-card__media-content demo-card__media-content">
          <div class="demo-card__primary">
            <h2 class="demo-card__title mdc-typography mdc-typography--headline6"><%= after_hour.name %>

              <% if after_hour.active  %>
                <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2 active_after" style="animation: none;">
                </h3>

              <%else%>
                <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2 inactive_after" style="animation: none;">
                </h3>

              <%end%>
            </h2>

          </div>
        </div>
      </div>
      <!--div class="demo-card__secondary mdc-typography mdc-typography--body2">kleiner text über die after</div-->
    </div>
    <!--div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <div >    <%= content_tag( "a","<span class='mdc-button__ripple'></span> Show".html_safe, href: url_for(after_hour),class:"mdc-button mdc-card__action mdc-card__action--button") %></div>
        <button class="mdc-button mdc-card__action mdc-card__action--button">  <span class="mdc-button__ripple"></span> Bookmark</button>
      </div>
      <div class="mdc-card__action-icons">
        <button class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded" aria-pressed="false" aria-label="Add to favorites" title="Add to favorites">
          <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
          <i class="material-icons mdc-icon-button__icon">favorite_border</i>
        </button>
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="Share" data-mdc-ripple-is-unbounded="true">share</button>
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="More options" data-mdc-ripple-is-unbounded="true">more_vert</button>
      </div>
    </div-->
  </div>

</a>
    <% end %>


<br>

<%= content_tag "a",'Start Own After Hour', href: new_after_hour_path %>
