<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= content_tag "a", 'Show',  href:url_for(user) %></td>
        <td><%= content_tag "a", 'Edit',  href:edit_user_path(user) %></td>
        <td><%= content_tag "a", 'X',  href:url_for(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= content_tag "a",  'New User', href:new_user_path %>
